header{
    text-align: center;
    font-size: 40px;
    background-color: rgb(160, 202, 202);}



h1{
    text-align: center;
}


main{
    background-color: #fef6d8;
}

h2{
    color: #d3055b;
    text-align: center;
}

footer {background-color: #f7c7db;}










